.sidebarOption {
	display: flex;
	align-items: center;
	font-size: 12px;
	padding-left: 2px;
	cursor: pointer;
}

.sidebarOption:hover {
	background-color: rgb(241, 209, 63);
	opacity: 0.9;
	color: white;
}

.sidebarOption__icon {
	padding: 10px;
	font-size: 15px !important;
}

.sidebarOption__channel {
	padding: 10px 0px;
}

.sidebarOption__hash {
	padding: 10px;
}

.sidebarOption > h3 {
	font-weight: 500;
}
