.bar_listing {
	border: 1px solid rgb(0, 0, 0);
	width: 200px;
	padding: 30px;
	color: rgb(0, 0, 0);
	margin: 30px;
}

.bar_logo {
	width: 80%;
}

button > div.MuiCardContent-root {
	box-shadow: inset 0 0 0 2000px rgba(30, 5, 33, 0.6);
	background-image: url("./images/shattered.png");
	color: white;
}

button > div.MuiCardContent-root > p {
	overflow: hidden;
	max-width: 100%;
	min-width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	min-height: 3.6em;
	line-height: 1.8em;
	background-color: #311f34;
	color: white;
}

button > div.MuiCardContent-root > h2 {
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 1.8em;
	line-height: 1.8em;
	background-color: #311f34;
	color: white;
}
