.table_chat {
	width: 100%;
	display: flex;
	flex: 1.0;
	flex-direction: row;
}

.table_users {
	flex: 0.5;
	color: white;
	padding: 25px;
	background-color: rgb(13, 49, 27);
}

.table_users_header {
	margin: 10px;
}

.table_users_list {
	margin: 10px;
}

.chat {
	width: 30%;
	flex-grow: 1;
	overflow-y: scroll;
	padding-bottom: 150px;
}

.chat__header {
	position: absolute;
	width: 72%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	background-color: white;
}

.chat__channelName {
	display: flex;
	align-items: center;
	text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
	margin-left: 10px;
	font-size: 18px;
}

.chat__headerRight > p {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
	margin-right: 5px !important;
	font-size: 16px;
}

.chat__messages {
	margin-top: 60px;
}

.scroll-spacer {
	height: 1px;
}