.table_chat {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: row;
	margin-top: -32px;
}

.table_users {
	flex: 0.5;
	color: white;
	padding: 7px 25px 25px 25px;
	background-color: #1e0521;
	box-shadow: inset 0 0 0 2000px rgba(30, 5, 33, 0.6);
	background-image: url("./images/shattered.png");
}

.table_users_header {
	margin: 10px 10px 30px 10px;
}

.table_users_list {
	margin: 40px 10px;
}

.table_users_list li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.table_users_list h4 {
	padding-bottom: 10px;
}

.table_users_list h5 {
	padding-left: 10px;
}

/* // Placeholder styles */
.table_you {
	color: white;
}

.table_friends {
	color: white;
}

.table_strangers {
	color: white;
}

/* --------------------- */

.chat {
	width: 30%;
	flex-grow: 1;
	overflow-y: scroll;
	padding-bottom: 150px;
}

.chat__header {
	position: absolute;
	width: 73%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid lightgray;
	background-color: white;
}

.chat__channelName {
	display: flex;
	align-items: center;
}

.chat__channelName > .MuiSvgIcon-root {
	margin-left: 10px;
	font-size: 18px;
}

.chat__headerRight {
	cursor: pointer;
	margin-right: 5px;
}

.chat__headerRight > p {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
	margin-right: 5px !important;
	font-size: 16px;
}

.chat__messages {
	margin-top: 60px;
}

.scroll-spacer {
	height: 1px;
}
