.chatInput > form {
	position: fixed;
	bottom: 0%;
	width: 74%;
	background-color: white;
}

.chatInput > form > button {
	display: none !important;
}

div > #outlined-basic {
	background-color: white;
}