@font-face {
	font-family: "neon-tubes-2-regular";
	src: local("NeonTubes2"), url(./fonts/NeonTubes2.otf) format("truetype");
	src: local("NeonTubes2"), url(./fonts/NeonTubes2.otf) format("opentype");
	src: local("NeonTubes2"), url(./fonts/NeonTubes2.otf) format("woff");
}

div.nav__title {
	font-family: "neon-tubes-2-regular";
	font-size: 30px;
	text-transform: none;
	color: #ffdc14;
}

.header {
	position: fixed;
	width: 100vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0px;
	color: white;
}

.header__left {
	flex: 0.3;
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-right: 10px;
}

.header__left > .MuiSvgIcon-root {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 30px;
}

.icon__online > .MuiSvgIcon-root {
	color: rgb(0, 165, 0);
	font-size: 14px;
	margin-top: 1px;
	margin-right: 2px;
}

.header__right {
	flex: 0.3;
	display: flex;
	flex-direction: row;
}

.nav-item {
	margin-left: auto;
	margin-right: 40px;
}

.header__right > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
}

.nav__cocktail > img {
	max-width: 30px;
	filter: invert(100%);
	margin-left: 10px;
}

.MuiCard-root {
	max-width: 350px;
	margin: auto;
}

.avatar__name {
	padding-right: 10px;
	color: #fff;
}

#root > div > div.makeStyles-grow-1 > header > div {
	background-color: #1e0521;
	box-shadow: inset 0 0 0 2000px rgba(30, 5, 33, 0.6);
	background-image: url("./images/shattered.png");
}
