.header {
	position: fixed;
	width: 100vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0px;
	background-color: rgb(13, 49, 27);
	color: white;
}

.header__left {
	flex: 0.3;
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-right: 10px;
}

.header__left > .MuiSvgIcon-root {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 30px;
}

.icon__online > .MuiSvgIcon-root {
	color: rgb(0, 165, 0);
	font-size: 14px;
	margin-top: 1px;
	margin-right: 2px;
}

/* .header__search {
	flex: 0.4;
	background-color: #421f44;
	text-align: center;
	display: flex;
	padding: 0px 50px;
	color: grey;
	border: 1px solid gray;
	border-radius: 6px;
}

.header__search > input {
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
	min-width: 35vw;
	color: white;
} */

.header__right {
	flex: 0.3;
	display: flex;
	flex-direction: row;
}

.nav-item {
	margin-left: auto;
	margin-right: 40px;
}

.header__right > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
}

.nav__cocktail > img {
	max-width: 30px;
	filter: invert(100%);
	margin-left: 10px;
}

.MuiCard-root {
	max-width: 350px;
	/* margin-right: auto; */
	margin: auto;
}

.avatar__name {
	padding-right: 10px;
}
