.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0px;
	background-color: rgb(13, 49, 27);
	color: white;
}

.header__left {
	flex: 0.3;
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.header__left > .MuiSvgIcon-root {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 30px;
}

.header__search {
	flex: 0.4;
	background-color: #421f44;
	text-align: center;
	display: flex;
	padding: 0px 50px;
	color: grey;
	border: 1px solid gray;
	border-radius: 6px;
}

.header__search > input {
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
	min-width: 35vw;
	color: white;
}

.header__right {
	flex: 0.3;
	display: flex;
	flex-direction: row;
	margin-right: 40px;
}

.nav-item {
	margin-left: auto;
	margin-right: auto;
}

.header__right > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
}
