.login {
	height: 100vh;
	background-image: url("images/background.png");
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(30, 5, 33, 0.9);
	background-color: #1e0521;
	display: grid;
	place-items: center;
	
	
}

.login__container {
	padding: 100px;
	color: #ff6d69;
	background-color: rgba(30, 5, 33, 0.9);
	border-radius: 10px;
	box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.24); 
	-webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.24);
	text-align: center;
	align-self: baseline;
}

.login__container > img {
	object-fit: contain;
	height: 100px;
	margin-bottom: 40px;
}

.login__container > button {
	margin-top: 50px;
	text-transform: inherit !important;
	background-color: #010b8b !important;
	color: white;
}
