.message {
	display: flex;
	align-items: center;
	padding: 20px;
}

.message > img {
	height: 50px;
	width: 50px;
	object-fit: contain;
	border-radius: 50%;
}

.message__info {
	padding-left: 10px;
}

.message__timestamp {
	margin-left: 3px;
	color: rgb(88, 85, 85);
	font-weight: 300;
	font-size: 14px;

}
