.message {
	display: flex;
	align-items: center;
	padding: 20px;
}

.message > img {
	height: 50px;
	width: 50px;
	object-fit: contain;
	border-radius: 50%;
}

.message__info {
	padding-left: 10px;
}

.message__timestamp {
	margin-left: 3px;
	color: rgb(88, 85, 85);
	font-weight: 300;
	font-size: 14px;
}

.message__info > p {
	position: relative;
	top: 10px;
	z-index: -1000;
}

/* chat bubble styling for user */
div > .message__bubble {
	display: inline-block;
	margin: 0px 0px 0px 17px;
	border-radius: 15px;
	background: #311f34;
	color: #fff;
	padding: 10px 20px 10px 20px;
	text-align: left;
	font-weight: 900;
	font-family: arial;
	position: relative;
	top: 16px;
	z-index: -1000;
	max-width: 1000px;
	word-wrap: break-word;
}

div > .bubble__lip:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid #311f34;
	border-top: 15px solid #311f34;
	border-bottom: 15px solid transparent;
	left: -16px;
	top: 0px;
}
/* chat bubble styling for user */

/* chat bubble styling for everyone else */
div > .message__bubble__alt {
	display: inline-block;
	margin: 0px 0px 0px 17px;
	border-radius: 15px;
	background: #7d7098;
	color: #fff;
	padding: 10px 20px 10px 20px;
	text-align: left;
	font-weight: 900;
	font-family: arial;
	position: relative;
	top: 16px;
	z-index: -1000;
	max-width: 1000px;
	word-wrap: break-word;
}

div > .bubble__lip__alt:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid #7d7098;
	border-top: 15px solid #7d7098;
	border-bottom: 15px solid transparent;
	left: -16px;
	top: 0px;
}
/* chat bubble styling for everyone else */

/* chat bubble styling for whispers */
div > .whisper__bubble {
	font-style: italic;
}
/* chat bubble styling for whispers */
