#test__no_bar {
	color: black;
}

.street {
	height: 80vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.708);
	background-image: url("./images/redox-01.png");
	color: white;
	padding: 20px;
	margin-top: -32px;
	height: auto;
}

.breadCrumbs {
	padding-bottom: 20px;
	width: 500px;
}

.bar_list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	overflow: auto;
}

#input__bar_box {
	display: none !important;
}

.button__open_new_bar {
	align-self: flex-end;
}
