#test__no_bar {
	color: black;
}

.street {
	height: 80vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
	color: white;
	padding: 20px;
	margin-top: -32px;
}

.breadCrumbs {
	padding-bottom: 20px;
	width: 500px
}

.bar_list {
	display: flex;
	flex-direction: row;
}

#input__bar_box {
	display: none !important;
}

.button__open_new_bar {
	align-self: flex-end;
}