#test__no_bar {
	color: black;
}

.street {
	height: 80vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
	color: white;
	padding: 20px;
}

.street_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(13, 49, 27);
	padding: 20px;
}

.bar_list {
	display: flex;
	flex-direction: row;
}

#input__bar_box {
	display: none !important;
}

.button__open_new_bar.MuiButtonBase-root,
.MuiButton-root,
.MuiButton-contained,
.MuiButton-containedPrimary {
	background-color: rgb(26, 96, 53);
}

.button__open_new_bar.MuiButtonBase-root:hover {
	background-color: rgb(20, 191, 46);
}
