.table {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	padding: 30px;
	color: rgb(13, 49, 27);
}

#input__table_box {
	display: none !important;
}

.button__grab_table.MuiButtonBase-root,
.MuiButton-root,
.MuiButton-contained,
.MuiButton-containedPrimary {
	background-color: rgb(26, 96, 53);
}

.button__grab_table.MuiButtonBase-root:hover {
	background-color: rgb(20, 191, 46);
}

button > div.MuiCardContent-root > p {
	overflow: hidden;
	min-width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.8em;
}

button > div.MuiCardContent-root > h2 {
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 1.8em;
	min-height: 1.8em;
	line-height: 1.8em;
}
