#input__whisper__box {
	display: none !important;
}

#simple-popover
	> div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
	> p {
	padding: 8px;
}
.whisper__button.MuiButton-containedPrimary {
	padding: 4px;
	margin-left: 16px;
	background-color: black;
}

.whisper__button.MuiButton-containedPrimary:hover {
	background-color: rgb(67, 67, 67);
}

.MuiFormLabel-root.Mui-focused {
	color: #000000 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #000000 !important;
}

.whisperInput {
	padding-right: 10px;
}

/* Whisper Icon tooltip */
.whisper__tooltip {
	cursor: pointer;
	position: relative;
	display: inline-block;
}

/* Add friend text */
.whisper__tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the text */
	position: absolute;
	z-index: 1;
	width: 120px;
	top: 120%;
	left: 50%;
	margin-left: -60px;
}

/* Show the text when you mouse over the + icon */
.whisper__tooltip:hover .tooltiptext {
	visibility: visible;
}
